## Exercise 1
Recall the bball_wide DataFrame from above (repeated below to jog your memory).

In this task, you will start from ball and re-recreate bball_wide by combining the operations we just learned about.

There are many ways to do this, so be creative.

Our solution used set_index, T, stack, and unstack in that order.

In [17]:
import pandas as pd
import numpy as np

In [5]:
url = "https://datascience.quantecon.org/assets/data/bball.csv"
bball = pd.read_csv(url)
bball.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9 entries, 0 to 8
Data columns (total 8 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Year      9 non-null      int64
 1   Player    9 non-null      object
 2   Team      9 non-null      object
 3   TeamName  9 non-null      object
 4   Games     9 non-null      int64
 5   Pts       9 non-null      float64
 6   Assist    9 non-null      float64
 7   Rebound   9 non-null      float64
dtypes: float64(3), int64(2), object(3)
memory usage: 704.0+ bytes

In [6]:
bball_wide = bball.drop("TeamName", axis=1).set_index(["Year", "Player", "Team"]).stack().unstack(level=[1, 3, 2]).sort_index(axis=1)
bball_wide

Player  Curry                     Durant                               ...  \
       Assist Games   Pts Rebound Assist      Games         Pts        ...
Team      GSW   GSW   GSW     GSW    GSW  OKC   GSW   OKC   GSW   OKC  ...
Year                                                                   ...
2015      6.7  79.0  30.1     5.4    NaN  5.0   NaN  72.0   NaN  28.2  ...
2016      6.6  79.0  25.3     4.5    4.8  NaN  62.0   NaN  25.1   NaN  ...
2017      6.1  51.0  26.4     5.1    5.4  NaN  68.0   NaN  26.4   NaN  ...

Player  Ibaka
       Assist Games               Pts             Rebound
Team      TOR   OKC   ORL   TOR   OKC   ORL   TOR     OKC  ORL  TOR
Year
2015      NaN  78.0   NaN   NaN  12.6   NaN   NaN     6.8  NaN  NaN
2016      0.7   NaN  56.0  23.0   NaN  15.1  14.2     NaN  6.8  6.8
2017      NaN   NaN   NaN   NaN   NaN   NaN   NaN     NaN  NaN  NaN

[3 rows x 24 columns]

## Exercise 2

What do you think would happen if we wrote bball.melt(id_vars=["Year", "Player"]) rather than bball.melt(id_vars=["Year", "Player", "Team", "TeamName"])? Were you right? Write your thoughts.

Read the documentation and focus on the argument value_vars. How does bball.melt(id_vars=["Year", "Player"], value_vars=["Pts", "Rebound"]) differ from bball.melt(id_vars=["Year", "Player"])?

Consider the differences between bball.stack and bball.melt. Is there a way to make them generate the same output? Write your thoughts.

### Answer part 1:
If we wrote bball.melt(id_vars=["Year", "Player"]) instead of bball.melt(id_vars=["Year", "Player", "Team", "TeamName"]), the resulting DataFrame would contain only the "Year", "Player", and "variable" columns, and the "value" column would contain the values of all the other columns in the original DataFrame. This is because the default behavior of the melt function is to use all columns that are not specified in id_vars as the value_vars.

In [9]:
bball.melt(id_vars=["Year", "Player"]).head()

   Year  Player variable value
0  2015   Curry     Team   GSW
1  2016   Curry     Team   GSW
2  2017   Curry     Team   GSW
3  2015  Durant     Team   OKC
4  2016  Durant     Team   GSW

In [10]:
bball.melt(id_vars=["Year", "Player", "Team", "TeamName"]).head()

   Year  Player Team  TeamName variable  value
0  2015   Curry  GSW  Warriors    Games   79.0
1  2016   Curry  GSW  Warriors    Games   79.0
2  2017   Curry  GSW  Warriors    Games   51.0
3  2015  Durant  OKC   Thunder    Games   72.0
4  2016  Durant  GSW  Warriors    Games   62.0

### Answer part 2:
If we specify value_vars=["Pts", "Rebound"] in bball.melt(id_vars=["Year", "Player"], value_vars=["Pts", "Rebound"]), the resulting DataFrame will only contain the "Year", "Player", "variable", and "value" columns for the "Pts" and "Rebound" columns in the original DataFrame. The other columns will be excluded.

In [12]:
bball.melt(id_vars=["Year", "Player"] , value_vars=["Pts", "Rebound"])

    Year  Player variable  value
0   2015   Curry      Pts   30.1
1   2016   Curry      Pts   25.3
2   2017   Curry      Pts   26.4
3   2015  Durant      Pts   28.2
4   2016  Durant      Pts   25.1
5   2017  Durant      Pts   26.4
6   2015   Ibaka      Pts   12.6
7   2016   Ibaka      Pts   15.1
8   2016   Ibaka      Pts   14.2
9   2015   Curry  Rebound    5.4
10  2016   Curry  Rebound    4.5
11  2017   Curry  Rebound    5.1
12  2015  Durant  Rebound    8.2
13  2016  Durant  Rebound    8.3
14  2017  Durant  Rebound    6.8
15  2015   Ibaka  Rebound    6.8
16  2016   Ibaka  Rebound    6.8
17  2016   Ibaka  Rebound    6.8

## Exercise 3
First, take a breath… That was a lot to take in.

Can you think of a reason to ever use pivot rather than pivot_table? Write your thoughts.

Create a pivot table with column Player as the index, TeamName as the columns, and [Rebound, Assist] as the values. What happens when you use aggfunc=[np.max, np.min, len]? Describe how Python produced each of the values in the resultant pivot table.

### Answer:
One reason to use pivot instead of pivot_table is when we don't need to perform any aggregation or if we want to use a specific aggregation function that is not available in pivot_table. pivot simply reshapes the data from long to wide format based on the specified columns, while pivot_table performs aggregation on the values in the table based on the specified columns.

In [15]:
 # To create a pivot table with the specified index, 
 # columns, and values, we can use the following code:
pvt = bball.pivot_table(index='Player', columns='TeamName', values=['Rebound', 'Assist'])
pvt

         Assist                           Rebound
TeamName  Magic Raptors Thunder  Warriors   Magic Raptors Thunder Warriors
Player
Curry       NaN     NaN     NaN  6.466667     NaN     NaN     NaN     5.00
Durant      NaN     NaN     5.0  5.100000     NaN     NaN     8.2     7.55
Ibaka       1.1     0.7     0.8       NaN     6.8     6.8     6.8      NaN

In [18]:
# To use aggfunc=[np.max, np.min, len] on the values in the pivot table,
# we can modify the code as follows:
pvt = bball.pivot_table(index='Player', columns='TeamName', values=['Rebound', 'Assist'], aggfunc=[np.max, np.min, len])
pvt

           amax                                                            \
         Assist                          Rebound
TeamName  Magic Raptors Thunder Warriors   Magic Raptors Thunder Warriors
Player
Curry       NaN     NaN     NaN      6.7     NaN     NaN     NaN      5.4
Durant      NaN     NaN     5.0      5.4     NaN     NaN     8.2      8.3
Ibaka       1.1     0.7     0.8      NaN     6.8     6.8     6.8      NaN

           amin          ...                     len                           \
         Assist          ... Rebound          Assist
TeamName  Magic Raptors  ... Thunder Warriors  Magic Raptors Thunder Warriors
Player                   ...
Curry       NaN     NaN  ...     NaN      4.5    NaN     NaN     NaN      3.0
Durant      NaN     NaN  ...     8.2      6.8    NaN     NaN     1.0      2.0
Ibaka       1.1     0.7  ...     6.8      NaN    1.0     1.0     1.0      NaN


         Rebound
TeamName   Magic Raptors Thunder Warriors
Player
Curry        NaN     NaN     NaN      3.0
Durant       NaN     NaN     1.0      2.0
Ibaka        1.0     1.0     1.0      NaN

[3 rows x 24 columns]

This will produce a pivot table with the maximum, minimum, and count of the "Rebound" and "Assist" values for each combination of "Player" and "TeamName". The resulting DataFrame will have a multi-level column index with the following levels: the function names ("amax", "amin", "len"), the variable names ("Assist", "Rebound"), and the TeamName values. The amax function computes the maximum value, amin computes the minimum value, and len computes the number of non-null values in each group.