In [1]:
import pandas as pd
import numpy as np

In [7]:
url = "https://datascience.quantecon.org/assets/data/wdi_data.csv"
df = pd.read_csv(url)
df.info()

df.head()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 72 entries, 0 to 71
Data columns (total 7 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   country      72 non-null     object
 1   year         72 non-null     int64
 2   GovExpend    72 non-null     float64
 3   Consumption  72 non-null     float64
 4   Exports      72 non-null     float64
 5   Imports      72 non-null     float64
 6   GDP          72 non-null     float64
dtypes: float64(5), int64(1), object(1)
memory usage: 4.1+ KB

  country  year  GovExpend  Consumption   Exports   Imports       GDP
0  Canada  2017   0.372665     1.095475  0.582831  0.600031  1.868164
1  Canada  2016   0.364899     1.058426  0.576394  0.575775  1.814016
2  Canada  2015   0.358303     1.035208  0.568859  0.575793  1.794270
3  Canada  2014   0.353485     1.011988  0.550323  0.572344  1.782252
4  Canada  2013   0.351541     0.986400  0.518040  0.558636  1.732714

In [8]:
df_small = df.head(5)
df_tiny = df.iloc[[0, 3, 2, 4], :]

im_ex = df_small[["Imports", "Exports"]]
im_ex_tiny = df_tiny + im_ex
im_ex_tiny

   Consumption   Exports  GDP  GovExpend   Imports  country  year
0          NaN  1.165661  NaN        NaN  1.200063      NaN   NaN
1          NaN       NaN  NaN        NaN       NaN      NaN   NaN
2          NaN  1.137718  NaN        NaN  1.151585      NaN   NaN
3          NaN  1.100646  NaN        NaN  1.144688      NaN   NaN
4          NaN  1.036081  NaN        NaN  1.117272      NaN   NaN

# Exercise 1
What happens when you apply the mean method to im_ex_tiny?

In particular, what happens to columns that have missing data?

In [4]:
im_ex_tiny.sum()

Consumption    0.000000
Exports        4.440106
GDP            0.000000
GovExpend      0.000000
Imports        4.613608
country        0.000000
year           0.000000
dtype: float64

In [5]:
im_ex_tiny.mean()

Consumption         NaN
Exports        1.110027
GDP                 NaN
GovExpend           NaN
Imports        1.153402
country             NaN
year                NaN
dtype: float64

### Answer: 
The mean method only returns a single value, the mean of all values in a Series or the mean of all values in a DataFrame along a specific axis (default is to compute the mean along the columns).
When we apply the mean method to a pandas DataFrame with missing data, the mean is calculated only for the columns that have no missing data. The columns with missing data will have NaN (Not a Number) in the result. If a row has missing data, that entire row will be excluded from the calculation of the mean.

In [9]:
wdi = df.set_index(["country", "year"])

# Exercise 2
For each of the examples below do the following:

Determine which of the rules above applies.

Identify the type of the returned value.

Explain why the slicing operation returned the data it did.

Write your answers.

In [10]:
wdi.loc[["United States", "Canada"]]

                    GovExpend  Consumption   Exports   Imports        GDP
country       year
United States 2017   2.405743    12.019266  2.287071  3.069954  17.348627
              2016   2.407981    11.722133  2.219937  2.936004  16.972348
              2015   2.373130    11.409800  2.222228  2.881337  16.710459
              2014   2.334071    11.000619  2.209555  2.732228  16.242526
              2013   2.353381    10.687214  2.118639  2.600198  15.853796
              2012   2.398873    10.534042  2.045509  2.560677  15.567038
              2011   2.434378    10.378060  1.978083  2.493194  15.224555
              2010   2.510143    10.185836  1.846280  2.360183  14.992053
              2009   2.507390    10.010687  1.646432  2.086299  14.617299
              2008   2.407771    10.137847  1.797347  2.400349  14.997756
              2007   2.351987    10.159387  1.701096  2.455016  15.018268
              2006   2.314957     9.938503  1.564920  2.395189  14.741688
              2005   2.287022     9.643098  1.431205  2.246246  14.332500
              2004   2.267999     9.311431  1.335978  2.108585  13.846058
              2003   2.233519     8.974708  1.218199  1.892825  13.339312
              2002   2.193188     8.698306  1.192180  1.804105  12.968263
              2001   2.112038     8.480461  1.213253  1.740797  12.746262
              2000   2.040500     8.272097  1.287739  1.790995  12.620268
Canada        2017   0.372665     1.095475  0.582831  0.600031   1.868164
              2016   0.364899     1.058426  0.576394  0.575775   1.814016
              2015   0.358303     1.035208  0.568859  0.575793   1.794270
              2014   0.353485     1.011988  0.550323  0.572344   1.782252
              2013   0.351541     0.986400  0.518040  0.558636   1.732714
              2012   0.354342     0.961226  0.505969  0.547756   1.693428
              2011   0.351887     0.943145  0.492349  0.528227   1.664240
              2010   0.347332     0.921952  0.469949  0.500341   1.613543
              2009   0.339686     0.890078  0.440692  0.439796   1.565291
              2008   0.330766     0.889602  0.506350  0.502281   1.612862
              2007   0.318777     0.864012  0.530453  0.498002   1.596876
              2006   0.311382     0.827643  0.524461  0.470931   1.564608
              2005   0.303043     0.794390  0.519950  0.447222   1.524608
              2004   0.299854     0.764357  0.508657  0.416754   1.477317
              2003   0.294335     0.741796  0.481993  0.384199   1.433089
              2002   0.286094     0.721974  0.490465  0.368615   1.407725
              2001   0.279767     0.694230  0.484696  0.362023   1.366590
              2000   0.270553     0.677713  0.499526  0.380823   1.342805

Rule: row-wise label-based slicing
Type of the returned value: Pandas DataFrame
Explanation: The slicing operation returns the rows with the specified labels (in this case, "United States" and "Canada") in the DataFrame. The entire rows are returned, not just a single value.

In [11]:
wdi.loc[(["United States", "Canada"], [2010, 2011, 2012]), :]

                    GovExpend  Consumption   Exports   Imports        GDP
country       year
United States 2010   2.510143    10.185836  1.846280  2.360183  14.992053
              2011   2.434378    10.378060  1.978083  2.493194  15.224555
              2012   2.398873    10.534042  2.045509  2.560677  15.567038
Canada        2010   0.347332     0.921952  0.469949  0.500341   1.613543
              2011   0.351887     0.943145  0.492349  0.528227   1.664240
              2012   0.354342     0.961226  0.505969  0.547756   1.693428

Rule: multi-index slicing
Type of the returned value: Pandas DataFrame
Explanation: The slicing operation returns the specified rows and columns from the DataFrame based on their labels. In this case, the rows with the labels "United States" and "Canada" for the years 2010, 2011, and 2012 are returned, and all columns are included (the colon : specifies to include all columns).

In [ ]:
wdi.loc["United States"]

Rule: row-wise label-based slicing
Type of the returned value: Pandas Series
Explanation: The slicing operation returns the specified row (in this case, "United States") as a Pandas Series instead of a DataFrame. A Series is a single-dimensional labeled array.

In [ ]:
wdi.loc[("United States", 2010), ["GDP", "Exports"]]

Rule: multi-index slicing
Type of the returned value: Pandas DataFrame
Explanation: The slicing operation returns the specified rows and columns from the DataFrame based on their labels. In this case, the row with the label "United States" and year 2010 is returned, and only the columns "GDP" and "Exports" are included.

In [ ]:
wdi.loc[("United States", 2010)]

Rule: multi-index slicing
Type of the returned value: Pandas Series
Explanation: The slicing operation returns the specified row (in this case, "United States" and year 2010) as a Pandas Series instead of a DataFrame. A Series is a single-dimensional labeled array.

In [ ]:
wdi.loc[[("United States", 2010), ("Canada", 2015)]]

Rule: multi-index slicing
Type of the returned value: Pandas DataFrame
Explanation: The slicing operation returns the specified rows (in this case, "United States" and year 2010, and "Canada" and year 2015) from the DataFrame based on their labels.

In [ ]:
wdi.loc[["United States", "Canada"], "GDP"]

Rule: row-wise and column-wise label-based slicing
Type of the returned value: Pandas DataFrame
Explanation: The slicing operation returns the specified rows (in this case, "United States" and "Canada") and the specified column (in this case, "GDP") from the DataFrame based on their labels.

In [ ]:
wdi.loc["United States", "GDP"]

Rule: scalar slicing
Type of the returned value: scalar value
Explanation: The slicing operation returns a single value, the specified cell value in the DataFrame, based on the row and column labels (in this case, "United States" and "GDP").

# Exercise 3
Try setting my_df to some subset of the rows in wdi (use one of the .loc variations above).

Then see what happens when you do wdi / my_df or my_df ** wdi.

Try changing the subset of rows in my_df and repeat until you understand what is happening.

In [12]:
# This creates a new DataFrame my_df which consists of the rows 
# with the labels "United States" and "Canada", and the columns "GDP" and "Exports".
my_df = wdi.loc[["United States", "Canada"], ["GDP", "Exports"]]
my_df

In [14]:
wdi / my_df

                    Consumption  Exports  GDP  GovExpend  Imports
country       year
Canada        2000          NaN      1.0  1.0        NaN      NaN
              2001          NaN      1.0  1.0        NaN      NaN
              2002          NaN      1.0  1.0        NaN      NaN
              2003          NaN      1.0  1.0        NaN      NaN
              2004          NaN      1.0  1.0        NaN      NaN
...                         ...      ...  ...        ...      ...
United States 2013          NaN      1.0  1.0        NaN      NaN
              2014          NaN      1.0  1.0        NaN      NaN
              2015          NaN      1.0  1.0        NaN      NaN
              2016          NaN      1.0  1.0        NaN      NaN
              2017          NaN      1.0  1.0        NaN      NaN

[72 rows x 5 columns]

This operation performs element-wise division between the two DataFrames wdi and my_df. The division is performed between the corresponding elements of the two DataFrames. The shape of the result will be the same as the shape of my_df. If there are missing values in either DataFrame, the corresponding elements in the result will be NaN.

In [15]:
my_df ** wdi

                    Consumption   Exports           GDP  GovExpend  Imports
country       year
Canada        2000          NaN  0.707004  1.485582e+00        NaN      NaN
              2001          NaN  0.703960  1.532364e+00        NaN      NaN
              2002          NaN  0.705105  1.618348e+00        NaN      NaN
              2003          NaN  0.703441  1.674762e+00        NaN      NaN
              2004          NaN  0.709040  1.779779e+00        NaN      NaN
...                         ...       ...           ...        ...      ...
United States 2013          NaN  4.906782  1.063328e+19        NaN      NaN
              2014          NaN  5.764480  4.613949e+19        NaN      NaN
              2015          NaN  5.897171  2.733363e+20        NaN      NaN
              2016          NaN  5.872922  7.440597e+20        NaN      NaN
              2017          NaN  6.632813  3.158984e+21        NaN      NaN

[72 rows x 5 columns]

This operation performs element-wise power between the two DataFrames my_df and wdi. The power is performed between the corresponding elements of the two DataFrames. The shape of the result will be the same as the shape of my_df. If there are missing values in either DataFrame, the corresponding elements in the result will be NaN.

# Exercise 4
Below, we create wdi2, which is the same as df4 except that the levels of the index are swapped.

In the cells after df6 is defined, we have commented out a few of the slicing examples from the previous exercise.

For each of these examples, use pd.IndexSlice to extract the same data from df6.

In [23]:
wdi2 = df.set_index(["year", "country"])
wdi2

                    GovExpend  Consumption   Exports   Imports        GDP
year country
2017 Canada          0.372665     1.095475  0.582831  0.600031   1.868164
2016 Canada          0.364899     1.058426  0.576394  0.575775   1.814016
2015 Canada          0.358303     1.035208  0.568859  0.575793   1.794270
2014 Canada          0.353485     1.011988  0.550323  0.572344   1.782252
2013 Canada          0.351541     0.986400  0.518040  0.558636   1.732714
...                       ...          ...       ...       ...        ...
2004 United States   2.267999     9.311431  1.335978  2.108585  13.846058
2003 United States   2.233519     8.974708  1.218199  1.892825  13.339312
2002 United States   2.193188     8.698306  1.192180  1.804105  12.968263
2001 United States   2.112038     8.480461  1.213253  1.740797  12.746262
2000 United States   2.040500     8.272097  1.287739  1.790995  12.620268

[72 rows x 5 columns]

In [20]:
# wdi.loc["United States"]
wdi2.loc[pd.IndexSlice[:, "United States"], :]

                    GovExpend  Consumption   Exports   Imports        GDP
year country
2017 United States   2.405743    12.019266  2.287071  3.069954  17.348627
2016 United States   2.407981    11.722133  2.219937  2.936004  16.972348
2015 United States   2.373130    11.409800  2.222228  2.881337  16.710459
2014 United States   2.334071    11.000619  2.209555  2.732228  16.242526
2013 United States   2.353381    10.687214  2.118639  2.600198  15.853796
2012 United States   2.398873    10.534042  2.045509  2.560677  15.567038
2011 United States   2.434378    10.378060  1.978083  2.493194  15.224555
2010 United States   2.510143    10.185836  1.846280  2.360183  14.992053
2009 United States   2.507390    10.010687  1.646432  2.086299  14.617299
2008 United States   2.407771    10.137847  1.797347  2.400349  14.997756
2007 United States   2.351987    10.159387  1.701096  2.455016  15.018268
2006 United States   2.314957     9.938503  1.564920  2.395189  14.741688
2005 United States   2.287022     9.643098  1.431205  2.246246  14.332500
2004 United States   2.267999     9.311431  1.335978  2.108585  13.846058
2003 United States   2.233519     8.974708  1.218199  1.892825  13.339312
2002 United States   2.193188     8.698306  1.192180  1.804105  12.968263
2001 United States   2.112038     8.480461  1.213253  1.740797  12.746262
2000 United States   2.040500     8.272097  1.287739  1.790995  12.620268

In [26]:
# wdi.loc[(["United States", "Canada"], [2010, 2011, 2012]), :]
wdi2.loc[pd.IndexSlice[[2010,2011,2012] ,["United States", "Canada"]], :]

                    GovExpend  Consumption   Exports   Imports        GDP
year country
2010 United States   2.510143    10.185836  1.846280  2.360183  14.992053
     Canada          0.347332     0.921952  0.469949  0.500341   1.613543
2011 United States   2.434378    10.378060  1.978083  2.493194  15.224555
     Canada          0.351887     0.943145  0.492349  0.528227   1.664240
2012 United States   2.398873    10.534042  2.045509  2.560677  15.567038
     Canada          0.354342     0.961226  0.505969  0.547756   1.693428

In [22]:
# wdi.loc[["United States", "Canada"], "GDP"]
wdi2.loc[pd.IndexSlice[:, ["United States", "Canada"]], "GDP"]

year  country
2017  United States    17.348627
2016  United States    16.972348
2015  United States    16.710459
2014  United States    16.242526
2013  United States    15.853796
2012  United States    15.567038
2011  United States    15.224555
2010  United States    14.992053
2009  United States    14.617299
2008  United States    14.997756
2007  United States    15.018268
2006  United States    14.741688
2005  United States    14.332500
2004  United States    13.846058
2003  United States    13.339312
2002  United States    12.968263
2001  United States    12.746262
2000  United States    12.620268
2017  Canada            1.868164
2016  Canada            1.814016
2015  Canada            1.794270
2014  Canada            1.782252
2013  Canada            1.732714
2012  Canada            1.693428
2011  Canada            1.664240
2010  Canada            1.613543
2009  Canada            1.565291
2008  Canada            1.612862
2007  Canada            1.596876
2006  Canada            1.564608
2005  Canada            1.524608
2004  Canada            1.477317
2003  Canada            1.433089
2002  Canada            1.407725
2001  Canada            1.366590
2000  Canada            1.342805
Name: GDP, dtype: float64

# Exercise 5
Use pd.IndexSlice to extract all data from wdiT where the year level of the column names (the second level) is one of 2010, 2012, and 2014

In [27]:
wdiT = wdi.T

In [28]:
wdiT.loc[:, pd.IndexSlice[:, [2010, 2012, 2014]]]

country,Canada,Germany,United Kingdom,United States,Canada,Germany,United Kingdom,United States,Canada,Germany,United Kingdom,United States
year,2010,2010,2010,2010,2012,2012,2012,2012,2014,2014,2014,2014
GovExpend,0.347332,0.653386,0.521146,2.510143,0.354342,0.666454,0.528194,2.398873,0.353485,0.685990,0.538888,2.334071
Consumption,0.921952,1.915481,1.598563,10.185836,0.961226,1.967390,1.612550,10.534042,1.011988,1.999953,1.675716,11.000619
Exports,0.469949,1.443735,0.690824,1.846280,0.505969,1.607455,0.745484,2.045509,0.550323,1.712270,0.774022,2.209555
Imports,0.500341,1.266126,0.745065,2.360183,0.547756,1.354122,0.772692,2.560677,0.572344,1.445409,0.827311,2.732228
GDP,1.613543,3.417095,2.452900,14.992053,1.693428,3.559587,2.529323,15.567038,1.782252,3.654924,2.657159,16.242526

# Exercise 6
Look up the documentation for the reset_index method and study it to learn how to do the following:

Move just the year level of the index back as a column.

Completely throw away all levels of the index.

Remove the country of the index and do not keep it as a column.

In [33]:
# remove just year level and add as column
wdi.reset_index(level=0, drop=False)

            country  GovExpend  Consumption   Exports   Imports        GDP
year
2017         Canada   0.372665     1.095475  0.582831  0.600031   1.868164
2016         Canada   0.364899     1.058426  0.576394  0.575775   1.814016
2015         Canada   0.358303     1.035208  0.568859  0.575793   1.794270
2014         Canada   0.353485     1.011988  0.550323  0.572344   1.782252
2013         Canada   0.351541     0.986400  0.518040  0.558636   1.732714
...             ...        ...          ...       ...       ...        ...
2004  United States   2.267999     9.311431  1.335978  2.108585  13.846058
2003  United States   2.233519     8.974708  1.218199  1.892825  13.339312
2002  United States   2.193188     8.698306  1.192180  1.804105  12.968263
2001  United States   2.112038     8.480461  1.213253  1.740797  12.746262
2000  United States   2.040500     8.272097  1.287739  1.790995  12.620268

[72 rows x 6 columns]

In [34]:
# throw away all levels of index
wdi.reset_index(drop=True)

    GovExpend  Consumption   Exports   Imports        GDP
0    0.372665     1.095475  0.582831  0.600031   1.868164
1    0.364899     1.058426  0.576394  0.575775   1.814016
2    0.358303     1.035208  0.568859  0.575793   1.794270
3    0.353485     1.011988  0.550323  0.572344   1.782252
4    0.351541     0.986400  0.518040  0.558636   1.732714
..        ...          ...       ...       ...        ...
67   2.267999     9.311431  1.335978  2.108585  13.846058
68   2.233519     8.974708  1.218199  1.892825  13.339312
69   2.193188     8.698306  1.192180  1.804105  12.968263
70   2.112038     8.480461  1.213253  1.740797  12.746262
71   2.040500     8.272097  1.287739  1.790995  12.620268

[72 rows x 5 columns]

In [35]:
# Remove country from the index -- don't keep it as a column
wdi.reset_index(level=1, drop=True)

               GovExpend  Consumption   Exports   Imports        GDP
country
Canada          0.372665     1.095475  0.582831  0.600031   1.868164
Canada          0.364899     1.058426  0.576394  0.575775   1.814016
Canada          0.358303     1.035208  0.568859  0.575793   1.794270
Canada          0.353485     1.011988  0.550323  0.572344   1.782252
Canada          0.351541     0.986400  0.518040  0.558636   1.732714
...                  ...          ...       ...       ...        ...
United States   2.267999     9.311431  1.335978  2.108585  13.846058
United States   2.233519     8.974708  1.218199  1.892825  13.339312
United States   2.193188     8.698306  1.192180  1.804105  12.968263
United States   2.112038     8.480461  1.213253  1.740797  12.746262
United States   2.040500     8.272097  1.287739  1.790995  12.620268

[72 rows x 5 columns]